body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7FFF7;
    border-radius: 8px;
    color: #343434;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2F3061;
    color: #FFE66D;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-weight: 600;
}

nav.main-nav {
    background-color: #2F3061;
}

nav.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav.main-nav ul li {
    position: relative;
}

nav.main-nav ul li a {
    display: block;
    padding: 1rem 2rem;
    color: #FFE66D;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

nav.main-nav ul li a:hover,
nav.main-nav ul li a:focus {
    background-color: #1e2441;
    color: #FFFFFF;
    transform: scale(1.1);
}

nav.main-nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #343434;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

nav.main-nav ul li .dropdown-menu li {
    white-space: nowrap;
}

nav.main-nav ul li .dropdown-menu li a {
    padding: 0.5rem 1rem;
    color: #FFE66D;
}

nav.main-nav ul li:hover .dropdown-menu {
    display: block;
}

main {
    padding: 2rem;
    text-align: center;
    flex-grow: 1;
}

footer {
    background-color: #2F3061;
    color: #FFE66D;
    text-align: center;
    padding: 0.1rem;
    font-size: 1rem;
    margin-top: auto;
}

footer a {
    color: #FFE66D;
    text-decoration: none;
    font-size: 0.9rem;
}

footer a:hover {
    text-decoration: underline;
}

.random-pokemon-box {
    width: 420px;
    margin: 2rem auto;
    padding: 1.8rem;
    background: linear-gradient(135deg, #ffffff, #f3e5f5, #f7f1c5);
    color: #2F3061;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.random-pokemon-box.shiny {
    background: linear-gradient(135deg, #ffffff, #d3d3d3, #ffd700);
    color: #fff;
}

.random-pokemon-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.random-pokemon-box h3 {
    font-size: 1.6rem;
    margin: 0;
    color: #2F3061;
    border-bottom: 2px solid #2F3061;
    padding-bottom: 0.5rem;
    text-align: center;
}

.random-pokemon-box .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.random-pokemon-box .pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.random-pokemon-box .pokemon-logo {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-pokemon-box .pokemon-logo img {
    width: 100%;
    height: auto;
}

.random-pokemon-box .attributes {
    text-align: center;
    font-size: 1.2rem;
    color: #2F3061;
    line-height: 1.2rem;
    font-weight: 400;
}

.random-pokemon-box .type-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.random-pokemon-box .type-icons img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.random-pokemon-box .attributes a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #2F3061;
    transition: color 0.3s ease;
}

.random-pokemon-box .attributes a:hover {
    color: #8172cc;
}

.admin-link {
    background-color: #FF6F61;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.admin-link:hover,
.admin-link:focus {
    background-color: #D94E3B;
    color: #F7FFF7;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
